@import './vars';

.footer {
    position: relative;
    bottom: 25px;

    &__logo {
        display: inline;
        text-align: start;
        font-size: 14px;
        padding-left: 40px;
        background-color: $bckg-color;
        font-family: $font;
        font-weight: 500;
    }
}