.list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 88vh;
    padding-bottom: 20px;

    &__input {
        margin-top: 40px;
        min-width: 200px;
        width: 350px;
    }
}