.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__input {
        margin-top: 40px;
        min-width: 200px;
        width: 350px;
    }
}